$grey:#686868;
$light-grey: #dcdcdc;
$dark-grey: #404040;
$mellow-yellow: #f9bc60;

$font-size: (
    "tiny": 1.125rem,
    "small": 1.5rem,
    "medium": 2rem,
);

$font-weights: (
    "small": 250,
    "medium": 500,
    "big": 1000
);

